# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Rikkei_Batch01_Nguyen_Viet_Trong\Module_3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
